<footer id="redireccion">
       
    <div class="pie1">
   <address> &copy; 2021-Todos los derechos reservados -creandologros@gmail.com- 
       <br>
       <img class="whatsapp" src="./imagenes/whatsapp.png" alt="logo whatsapp">
tel: +54- 11- 2222-2222 <br>
<img class= "facebook" src="./imagenes/Sin título.png" alt="simbolo de facebook"> https://www.facebook.com/creando.logros/
<br>
<img class="instagram" src="./imagenes/instagram.png" alt="logo de instagram">
@creando-logos
<br>
Dr. Tomás Manuel de Anchorena 2290- C.A.B.A Prov. de Buenos Aires. Argentina
</address>
</div>
 
       <div>
       <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.5855315070808!2d-58.40218648560962!3d-34.589352480463205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9bd8cfcf09%3A0x8d01941f45c3eedf!2sDr.%20Tom%C3%A1s%20Manuel%20de%20Anchorena%202290%2C%20C1425ELP%20CABA!5e0!3m2!1ses!2sar!4v1633146987204!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
 

</footer>