<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <%-include('./partials/meta.ejs')%>
</head>
<body>
    <header>
        <img class="logo" src="./imagenes/Creando logros.png" alt="Banner creando logros">
    	<h1 id="marca">Creando logros</h1>
    </header>

    <nav class="navegador">
        <div class="propuesta"><a id href="#container">  Propuesta </a></div>
        <div class="Talleres"><a href="./formulario.html">Inscripciones</a></div>
        <div class="Informacion interesante"> <a href="./index2.html">Sitios de interes</a></div>
    	<div class="contacto"><a id href="#redireccion">Contacto </a></div>
        
    </nav>

    <main>
    	<section id="presentacion">
            <img class="banner" src="./imagenes/banner pag.png" alt="banner de la marca crear jugando">
        	<h3 class="titulo">Quienes somos?</h3>
            <article class="article">
                <p>Somos un equipo de personas que nos hemos unido buscando un espacio para nuestros hijos, nietos, sobrinos, hermanos que no logramos encontrar</p>
                <br>
                <p>Así nace "Creando logros", un espacio ludico y contenedor para niños, donde el eje principal es potenciar su autoestima y amor propio desde pequeños.</p>
                <br>
                <p>Formanos un equipo de psicologos, docentes de nivel inical y primaria, profesores de educacion fisca, y muchas personas mas que nos hemos capacitado y formado para ofrecerte este espacio maravilloso que tus niños van a amar</p>
            </article>
           
           
            <h3 class="titulo">Nuestro trabajo</h3>
            <article class="article">
                <p>Creamos diversos espacios recreativos, para que los niños puedan crear y jugar. </p>
                <br>
                <p>Estos espacios estan pensados con objetivos y metas. </p>
                <br>
                <p>Enseñarles a travez del juego el <span>"poder de crear", </span> les otorga la seguridad y confianza para, no solo darse cuenta que ellos desde la nada pueden crear un todo, si no que también adquieren la capacidad de sentirse capaces y poderosos, reforzando así su seguridad y autoestima. <span>"Apreneder a crear, nos demuestra que podemos hacer todo lo que nos imaginemos querer ser".</span> </p>
            </article>
            	
        </section>

        <article id="container">

            <div class="ofertapadre">

        	  <div class="oferta uno">
                <img class="imagen" src="./imagenes/children-593313_1920.jpg" alt="niños creando con la pc festejando de sus logros">
                <p>
                    Talleres anuales para todo el año potenciar las habilidades
                </p>
                <a class="boton" href="./index2.html"> Ver propuesta</a>
            </div>

            <div class="oferta dos">
                <img class="imagen" src="./imagenes/clay-690404_1920.jpg" alt=" niño creando con arcilla">
                <p>Jornada diaria según disponibilidad para conocer la propuesta
                </p>
                <a class="boton" href="./index2.html"> Ver propuesta</a>
                </div>
             <div class="oferta cocina">
                <img class="imagen" src="./imagenes/cooking-4299302_1920.jpg" alt="niños cocinando">
                <br>
                <p >Vacaciones creativas a full. <br> Vacaciones para crecer</p>
                <a class="boton" href="./index2.html"> Ver propuesta</a>
            </div>
        </div>

    </article>
    </main>
    <%-include('./partials/footer.ejs')%>
    
</body>
</html>